n8n/trustpilot-sync.json
{
  "name": "Trustpilot → Supabase (sync diario)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Cada día a las 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Genera items para las páginas 1-10 de Trustpilot\n// (cobertura amplia — las vacías se ignoran en el parseo)\nconst items = [];\nfor (let p = 1; p <= 10; p++) {\n  items.push({ json: { page: p } });\n}\nreturn items;"
      },
      "id": "gen-pages",
      "name": "Páginas 1-10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=https://es.trustpilot.com/review/revolutia.ai{{ $json.page > 1 ? '?page=' + $json.page : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "onError": "continueRegularOutput",
      "id": "fetch-page",
      "name": "Fetch página Trustpilot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrae reviews del __NEXT_DATA__ de TODAS las páginas recibidas\n// FIX: antes usaba $input.first() que solo procesaba la página 1\nconst allItems = $input.all();\nconst allReviews = [];\n\nfor (const item of allItems) {\n  // El HTTP Request con responseFormat:text devuelve el body en item.json.data\n  const html = typeof item.json === 'string'\n    ? item.json\n    : (item.json.data ?? item.json.body ?? '');\n\n  if (typeof html !== 'string' || html.length < 500) continue;\n\n  const match = html.match(/<script id=\"__NEXT_DATA__\" type=\"application\\/json\">([\\s\\S]*?)<\\/script>/);\n  if (!match) continue;\n\n  let data;\n  try { data = JSON.parse(match[1]); } catch { continue; }\n\n  const rawReviews = data?.props?.pageProps?.reviews;\n  if (!Array.isArray(rawReviews) || rawReviews.length === 0) continue;\n\n  const reviews = rawReviews\n    .map(r => ({\n      trustpilot_id: r.id,\n      reviewer_name: r.consumer?.displayName ?? 'Anónimo',\n      stars: r.rating,\n      review_date: r.dates?.publishedDate ?? new Date().toISOString(),\n      headline: r.title ?? '',\n      review_body: r.text ?? ''\n    }))\n    .filter(r => r.trustpilot_id && r.stars >= 1 && r.stars <= 5);\n\n  allReviews.push(...reviews);\n}\n\nreturn [{ json: { reviews: allReviews, count: allReviews.length } }];"
      },
      "id": "parse-html",
      "name": "Parsear HTML (todas las páginas)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://cgbezrwywsgkidssptfm.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNnYmV6cnd5d3Nna2lkc3NwdGZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDkzMjEwNiwiZXhwIjoyMDg2NTA4MTA2fQ.Yg5UdP38UyAq-QQLVxBJLbNmAXArSDlLzMvtZ1QdnTY';\n\n// Recoge todas las reviews del nodo anterior\nconst allItems = $input.all();\nconst allReviews = [];\nfor (const item of allItems) {\n  if (Array.isArray(item.json.reviews)) allReviews.push(...item.json.reviews);\n}\n\n// Deduplicar por trustpilot_id\nconst seen = new Set();\nconst unique = allReviews.filter(r => {\n  if (!r.trustpilot_id || seen.has(r.trustpilot_id)) return false;\n  seen.add(r.trustpilot_id);\n  return true;\n});\n\nif (unique.length === 0) {\n  return [{ json: { ok: true, message: 'No reviews scraped (Trustpilot may have blocked)', scraped: 0, upserted: 0 } }];\n}\n\n// Upsert en lotes de 50 con on-conflict trustpilot_id\nconst BATCH = 50;\nlet upserted = 0;\nfor (let i = 0; i < unique.length; i += BATCH) {\n  const batch = unique.slice(i, i + BATCH);\n  const res = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/trustpilot_reviews?on_conflict=trustpilot_id`,\n    headers: {\n      'apikey': SUPABASE_KEY,\n      'Authorization': `Bearer ${SUPABASE_KEY}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'resolution=merge-duplicates,return=minimal',\n    },\n    body: JSON.stringify(batch),\n    returnFullResponse: true,\n  });\n  if (res.statusCode >= 400) {\n    throw new Error(`Supabase upsert failed: ${res.statusCode} — ${JSON.stringify(res.body)}`);\n  }\n  upserted += batch.length;\n}\n\nreturn [{ json: {\n  ok: true,\n  scraped: unique.length,\n  upserted,\n  syncedAt: new Date().toISOString()\n} }];"
      },
      "id": "upsert-supabase",
      "name": "Upsert en Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Cada día a las 8:00": {
      "main": [[{ "node": "Páginas 1-10", "type": "main", "index": 0 }]]
    },
    "Páginas 1-10": {
      "main": [[{ "node": "Fetch página Trustpilot", "type": "main", "index": 0 }]]
    },
    "Fetch página Trustpilot": {
      "main": [[{ "node": "Parsear HTML (todas las páginas)", "type": "main", "index": 0 }]]
    },
    "Parsear HTML (todas las páginas)": {
      "main": [[{ "node": "Upsert en Supabase", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
